@model SupplierDemo.WebUI.HomePageVM

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="padding:10">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <h3>Tedarikçiler</h3>
            <select id="SupMenu">
                @foreach (var sup in Model.suppliers)
                {
                    <option id="@sup.SupplierId">@sup.SupplierName</option>
                }
            </select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4" style="height:65px">
            <button id="getStock" class="btn btn-success " style="float:right;height:100%">
                Stokları Getir
            </button>
        </div>

    </div>


</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h2>Stok Tablosu</h2>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Supplier Name</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody id="ProductTable">
                @foreach (var stock in Model.stocks)
                {
                    <tr>
                        <td>@stock.ProductId</td>
                        <td>@stock.SupplierId</td>
                        <td>@stock.Quatity</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
@section scripts{
    <script type="text/javascript">
        $('#getStock').click(function () {
            var supId = $('#SupMenu').val();
            $.ajax({
                url: '/Home/GetCurStock',
                type: 'POST',
                data: { supId: supId },
                success: function (data) {
                    debugger
                    var obj = JSON.parse(data);
                    $('#ProductTable').empty();

                    $.each(obj, function (key, val) {
                        $('#ProductTable').append('<tr><td>' + val.ProductId + '</td><td>' + val.SupplierId + '</td><td>' + val.Quatity + '</td></tr>')
                    });
                    console.log(obj);
                },
                error: function (data) {
                    console.log(data);
                },
            })
        });
    </script>

}